
<h1>Build Your Own Basketball Team </h1>

<div class="container">
  <form (submit)="addPlayer($event)">
    <div class="row">
      <div class="col-3">
        <label class="">Player's Name</label>
        <input type="text" [(ngModel)]="inputName" name="inputName">
      </div>

      <div class="col-3">    
        <label class="">Country</label>
        <select [(ngModel)]="inputCountry" name="inputCountry">
          <option *ngFor="let country of playesCountryOptions" value="{{ country.acronym }}">{{ country.name }}</option>
        </select>
      </div>

      <div class="col-2">
        <label class="">Position</label>
        <select [(ngModel)]="inputPosition" name="inputPosition">
          <option *ngFor="let position of playesPositionOptions" value="{{ position.acronym }}">{{ position.name }}</option>
        </select>
      </div>

      <div class="col-2">
        <label class="">Role</label>
        <select [(ngModel)]="inputRole" name="inputRole">
          <option *ngFor="let role of playesRoleOptions" value="{{ role }}">{{ role }}</option>
        </select>
      </div>

      <div class="col-2">
        <button type="submit">Sent</button>
      </div>
    </div>
  </form>
</div>

<p>A regular basketball team has 1 captain 4 starters and 7 reservers {{ responseMessage.clientMessage }}</p>

<div class="table-responsive">

  <table *ngIf="!update" class="table">
   
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>Position</th>
      <th>Role</th>
      <th>Status</th>
      <th>Delete</th>
      <th>Edit</th>
    </tr>

    <tr *ngFor="let playerOnTeam of players; let i=index" class="">
      <td> 
        <span>{{ playerOnTeam.name }}</span>
      </td>
      <td>
        <i class="flag-icon flag-icon-{{ playerOnTeam.country }}"></i>
      </td>
      <td>  
        <span>{{ playerOnTeam.position }}</span>
      </td>
      <td>  
        <span>{{ playerOnTeam.role }}</span>
      </td>
      <td> 
        <span>{{ playerOnTeam.status }}</span>
      </td>
      
      <td><a (click)="deletePlayer(playerOnTeam.id)" class="fa fa-trash"></a></td>

      <td><a (click)="updateArea(playerOnTeam)" class="fa fa-pencil"></a></td>
    </tr>

  </table>

  <div *ngIf="update">
    <form (submit)="updatePlayer($event)">
      <table class="table">
        <tr>
          <th>Name</th>
          <th>Country</th>
          <th>Position</th>
          <th>Role</th>
          <th>Status</th>
          <th>Delete</th>
          <th>Submit</th>
        </tr>

        <tr class="">
          <td> 
            <input type="text" value="{{ updateName }}" [(ngModel)]="updateName" name="updateName">
          </td>
          <td>
            <select [(ngModel)]="updateCountry" name="updateCountry">
              <option value="{{ updateCountry }}" disabled selected>{{ updateCountry }}</option> 
              <option *ngFor="let country of playesCountryOptions" value="{{ country.acronym }}">{{ country.name }}</option>
            </select>
          </td>
          <td>  
            <select [(ngModel)]="updatePosition" name="updatePosition">
              <option value="{{ updatePosition }}" disabled selected>{{ updatePosition }}</option> 
              <option *ngFor="let position of playesPositionOptions" value="{{ position.acronym }}">{{ position.name }}</option>
            </select>
          </td>
          <td >  
            <select [(ngModel)]="updateRole" name="updateRole">
              <option value="{{ updateRole }}" disabled selected>{{ updateRole }}</option> 
              <option *ngFor="let role of playesRoleOptions" value="{{ role }}">{{ role }}</option>
            </select>
          </td>
          <td> 
            <select [(ngModel)]="updateStatus" name="updateStatus">
              <option value="{{ updateStatus }}" disabled selected>{{ updateStatus }}</option> 
              <option *ngFor="let status of playesStatusOptions" value="{{ status }}">{{ status }}</option>
            </select>
          </td>
          
          <td><a (click)="deletePlayer(editPlayer.id)" class="fa fa-trash"></a></td>
          <td><button id="edit-button" type="submit"><i class="fa fa-location-arrow"></i></button></td>
        </tr>
      </table>
    </form>
    <button id="return-button" (click)="updateArea(editPlayer)"><i  class="fa fa-arrow-left"> Return</i></button>
  </div>
  
</div>

<div><span>. </span> </div>
