
<h1>Build Your Own Basketball Team </h1>

<form (submit)="addPlayer($event)">
  <label class="">Player's Name</label>
  <input type="text" [(ngModel)]="inputName" name="inputName">

  <label class="">Country</label>
  <select [(ngModel)]="inputCountry" name="inputCountry">
    <option *ngFor="let country of playesCountryOptions" value="{{ country.acronym }}">{{ country.name }}</option>
  </select>

  <label class="">Position</label>
  <select [(ngModel)]="inputPosition" name="inputPosition">
    <option *ngFor="let position of playesPositionOptions" value="{{ position.acronym }}">{{ position.name }}</option>
  </select>

  <label class="">Role</label>
  <select [(ngModel)]="inputRole" name="inputRole">
    <option *ngFor="let role of playesRoleOptions" value="{{ role }}">{{ role }}</option>
  </select>

  <button>Sent</button>
</form>

<div>
  <button (click)="updateArea()">Update Team</button>
</div>

<div class="table-responsive">

  <p>A regular basketball team has 1 captain 4 starters and 7 reservers</p>

  <form>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Country</th>
        <th>Position</th>
        <th>Role</th>
        <th>Status</th>
        <th>Delete</th>
        <th>Update Submit</th>
      </tr>

      <tr *ngFor="let playerOnTeam of players; let i=index" class="{{ status.value }}">
        <td class="nameCell"> 
          <span *ngIf="!update">{{ playerOnTeam.name }}</span>
          <input *ngIf="update" type="text" placeholder="{{ playerOnTeam.name }}">
        </td>
        <td>
          <i *ngIf="!update" class="flag-icon flag-icon-{{ playerOnTeam.country }}"></i>
          <select *ngIf="update">
            <option value="" disabled selected>{{ playerOnTeam.country }}</option>
            <option *ngFor="let country of playesCountryOptions" value="{{ country.acronym }}">{{ country.name }}</option>
          </select>
        </td>
        <td>  
          <span *ngIf="!update">{{ playerOnTeam.position }}</span>
          <select *ngIf="update">
            <option value="" disabled selected>{{ playerOnTeam.position }}</option>
            <option *ngFor="let position of playesPositionOptions" value="{{ position.acronym }}">{{ position.name }}</option>
          </select>
        </td>
        <td >  
          <span *ngIf="!update">{{ playerOnTeam.role }}</span>
          <select *ngIf="update" selected="{{ playerOnTeam.role }}">
            <option value="" disabled selected>{{ playerOnTeam.role }}</option>
            <option *ngFor="let role of playesRoleOptions" value="{{ role }}">{{ role }}</option>
          </select>
        </td>
        <td> 
          <select #status (change)='0'>
            <option value="alert-success">Active</option>
            <option value="alert-danger">Injured</option>
            <option value="alert-secondary">Unavailable</option>
          </select>
        </td>
        <td><a (click)="deletePlayer(playerOnTeam)" class="fa fa-trash"></a></td>
        <td *ngIf="!update"><a ng-click="deletePlayer(playerOnTeam)" class="fa fa-ban"></a></td>
        <td *ngIf="update"><a ng-click="deletePlayer(playerOnTeam)" class="fa fa-wrench"></a></td>
      </tr>

    </table>
  </form>

  <div>. </div>
  
</div>
